---
import ProjectItem from "../components/ProjectItem.astro";

import organius from "../images/sites/organius.png";
import me from "../images/sites/me.png";
import repostats from "../images/sites/repostats.png";
import tm from "../images/sites/tm.png";
import taskbook from "../images/sites/taskbook.png";
import littleduke from "../images/sites/littleduke.png";
import deaths from "../images/sites/50deaths.png";
import mono from "../images/sites/mono.png";

export interface Props {
  showAll?: boolean;
}

const { showAll = false } = Astro.props;

// Number of projects shown on homepage.
const limit = 3;
const items = [
  {
    title: "Personal Site & Blog",
    tagline: "My very own site! You're on it right now.",
    description: [
      "Blazingly fast and built with Responsive Web Design in mind, the layout adapts to your screen size. Go ahead and give it a try!",
      "I picked the initial color mode based on <em>your</em> browser's preference but check out the dark / light mode switcher at the top right if you feel like switching things up!",
    ],
    // image: me,
    skills: [
      "Astro",
      "TypeScript",
    ],
    links: [
      {
        name: "GitHub Repo",
        icon: "github",
        link: "https://github.com/seetohjinwei/me",
      },
      {
        name: "Website",
        icon: "website",
        link: "https://jinwei.dev",
      },
      {
        name: "Blog Post",
        icon: "blog",
        link: "https://jinwei.dev/blog/this-site/",
      },
    ],
  },
  {
    title: "WATcher",
    tagline: "WATcher is a sister application to CATcher to be used to monitor software projects in a visual way, for educational use in particular.",
    description: [
      "This is an open-source project under the <a href='https://nus-oss.github.io/'>NUS-OSS initiative</a>. I made several major contributions, including:",
      "Speeding up the data fetching service, reducing first contentful paint from minutes to seconds.",
      "Making improvements to the user interface to improve visual clarity and user experience.",
    ],
    skills: [
      "Angular",
      "TypeScript",
      "GraphQL",
    ],
    links: [
      {
        name: "GitHub Repo",
        icon: "github",
        link: "https://github.com/catcher-org/WATcher",
      },
    ],
  },
  {
    title: "OrgaNiUS",
    tagline: "Central hub for forming, planning and organising group work.",
    description: [
      "Key features include managing projects, events and tasks, both at an individual and project level. Check out the promotional video if this sounds interesting!",
      "It is a complete full-stack web application with a React frontend and Golang backend with RESTful architecture. More details can be found in the Project Documentation.",
    ],
    image: organius,
    skills: [
      "Go",
      "Gin",
      "Gorilla WebSocket",
      "React",
      "TypeScript",
      "MongoDB",
      "Docker",
    ],
    links: [
      {
        name: "GitHub Repo",
        icon: "github",
        link: "https://github.com/organius/organius",
      },
      {
        name: "Website",
        icon: "website",
        link: "https://organius.jinwei.dev",
      },
      {
        name: "Project Documentation",
        icon: "document",
        link: "https://docs.google.com/document/d/1i6PSnL6ETGeS_o3-guyhrTmHUamMz73ZENaw63N_GPI/edit?usp=sharing",
      },
      {
        name: "Promotional Video + Demo",
        icon: "youtube",
        link: "https://www.youtube.com/watch?v=An4ZFKv77Oc",
      },
    ],
  },
  {
    title: "RepoStats",
    tagline: "Statistics on your repositories.",
    description: [
      "It is a complete full-stack web application with a Svelte frontend and Golang backend with RESTful architecture. More details can be found in the blog post!",
      "It also generates neat SVG banners for your repository.",
    ],
    image: repostats,
    skills: [
      "Svelte",
      "TypeScript",
      "Golang",
      "SASS",
      "PostgreSQL",
      "GitHub API",
    ],
    links: [
      {
        name: "GitHub Repo",
        icon: "github",
        link: "https://github.com/seetohjinwei/repostats",
      },
      {
        name: "Website",
        icon: "website",
        link: "https://repostats.jinwei.dev",
      },
      {
        name: "Blog Post",
        icon: "blog",
        link: "https://jinwei.dev/blog/building-repostats/",
      },
    ],
  },
  {
    title: "Don't Paiseh",
    description: [
      "Unique app that presents users with a series of simple selection quizzes covering a wide range of socially unique and intriguing questions.",
      "Built in a 24-hour hackathon, Hack&Roll 2024.",
    ],
    skills: [
      "Python",
      "FastAPI",
      "MongoDB",
      "TypeScript",
      "Next.js",
    ],
    links: [
      {
        name: "Devpost Submission",
        icon: "document",
        link: "https://devpost.com/software/don-t-paiseh",
      },
      {
        name: "Video",
        icon: "youtube",
        link: "https://www.youtube.com/watch?v=1q1CPAetsoY",
      },
      {
        name: "GitHub Repo (Backend)",
        icon: "github",
        link: "https://github.com/moroha29/HackAndRollBE",
      },
      {
        name: "GitHub Repo (Frontend)",
        icon: "github",
        link: "https://github.com/moroha29/HackAndRollFE",
      },
    ],
  },
  {
    title: "Task Manager",
    tagline: "Create, edit, tag, sort, re-arrange, filter, remove your tasks easily.",
    description: [
      "Features a login system, 3 themes to choose from, a variety of options, with configurable defaults!",
    ],
    image: tm,
    skills: [
      "React",
      "TypeScript",
      "Ruby on Rails",
      "PostgreSQL",
      "Bootstrap Components",
    ],
    links: [
      {
        name: "GitHub Repo",
        icon: "github",
        link: "https://github.com/seetohjinwei/task-manager",
      },
      {
        name: "Website",
        icon: "website",
        link: "https://tm.jinwei.dev",
      },
    ],
  },
  {
    title: "peCar-Parker",
    tagline: "Our website helps users find parking spots in their area, with a simple search.",
    description: [
      "Our website allows the user to enter their current location (or any location) into a search bar and then returns them the top 5 car parks in that area ranked by parking lot availability.",
    ],
    skills: [
      "React",
      "TypeScript",
    ],
    links: [
      {
        name: "Devpost Submission",
        icon: "document",
        link: "https://devpost.com/software/pecar-parker",
      },
      {
        name: "GitHub Repo",
        icon: "github",
        link: "https://github.com/ParknRoll/peCar-Parker",
      },
      {
        name: "Website",
        icon: "website",
        link: "https://parknroll.github.io/peCar-Parker/",
      },
    ],
  },
  {
    title: "TaskBook",
    tagline: "Manage contacts and tasks in a single application with ease.",
    description: [
      "A contact and task management desktop application, built with Software Engineering principles in mind!",
    ],
    image: taskbook,
    skills: [
      "Java",
      "JUnit",
      "JavaFX",
    ],
    links: [
      {
        name: "GitHub Repo",
        icon: "github",
        link: "https://github.com/AY2223S1-CS2103T-T13-4/tp",
      },
      {
        name: "Application Download",
        icon: "download",
        link: "https://github.com/AY2223S1-CS2103T-T13-4/tp/releases",
      },
      {
        name: "Developer and User Guide",
        icon: "document",
        link: "https://ay2223s1-cs2103t-t13-4.github.io/tp/",
      },
      {
        name: "My Contribution",
        icon: "document2",
        link: "https://ay2223s1-cs2103t-t13-4.github.io/tp/team/seetohjinwei.html",
      },
    ],
  },
  {
    title: "Little Duke",
    tagline: "Can't have too many todo-list applications...",
    description: [
      "A todo-list desktop application, built with Software Engineering principles in mind!",
    ],
    image: littleduke,
    skills: [
      "Java",
      "JUnit",
      "JavaFX",
    ],
    links: [
      {
        name: "GitHub Repo",
        icon: "github",
        link: "https://github.com/seetohjinwei/ip",
      },
      {
        name: "Application Download",
        icon: "download",
        link: "https://github.com/seetohjinwei/ip/releases",
      },
      {
        name: "User Guide",
        icon: "document",
        link: "https://seetohjinwei.github.io/ip/",
      },
    ],
  },
  {
    title: "My Links",
    tagline: "LinkTree & bit.ly as a single service.",
    description: [
      'For example, <a href="https://link.jinwei.dev/me">https://link.jinwei.dev/me</a> brings you back to this website!',
    ],
    skills: [
      "Golang",
    ],
    links: [
      {
        name: "GitHub Repo",
        icon: "github",
        link: "https://github.com/seetohjinwei/links",
      },
      {
        name: "Website",
        icon: "website",
        link: "https://link.jinwei.dev",
      },
    ],
  },
  {
    title: "50 Deaths",
    tagline: "Hope you don't mind dying.",
    description: [
      "A short rogue-like game where you fight your way through multiple levels and eventually beat the final boss!",
      "<em>Hopefully you don't actually need 50 deaths to finish the game...</em>",
    ],
    image: deaths,
    skills: [
      "LÖVE Framework",
      "Lua",
    ],
    links: [
      {
        name: "GitHub Repo",
        icon: "github",
        link: "https://github.com/seetohjinwei/50deaths",
      },
      {
        name: "Game Download",
        icon: "download",
        link: "https://github.com/seetohjinwei/50deaths/blob/main/README.md#launching-the-game",
      },
      {
        name: "Video Demo",
        icon: "youtube",
        link: "https://www.youtube.com/watch?v=AAngr3Ti0kc",
      },
      {
        name: "Development Docs",
        icon: "document",
        link: "https://github.com/seetohjinwei/50deaths/blob/main/README.md",
      },
    ],
  },
  {
    title: "MonO",
    tagline: "<em>Very difficult</em> platformer where the player can shift between 2 forms, allowing for different interactions with different blocks.",
    description: [
      "Developed as part of NUS Games Development Group's GameCraft 2017 24-hour hackathon where the theme was 'shift'.",
    ],
    image: mono,
    skills: [
      "Gamemaker Studio 2",
    ],
    links: [
      {
        name: "Game Download",
        icon: "download",
        link: "https://teamfizzy.itch.io/mono",
      },
    ],
  },
  // {
  //   title: "Others",
  //   tagline: "",
  //   description: [
  //   ],
  //   list: [
  //     "General Linux / Unix CLI familiarity",
  //     "Continuous Integration & Continuous Deployment (CI/CD) scripts",
  //     "Basic Docker scripts",
  //     "Basic hosting and server setup",
  //     "Setting up various types of tech projects",
  //   ],
  //   skills: [
  //   ],
  //   links: [
  //     {
  //       name: "My Notes",
  //       icon: "document",
  //       link: "https://jinwei.dev/blog/#notes",
  //     },
  //     {
  //       name: "Leetcode Profile",
  //       icon: "website",
  //       link: "https://leetcode.com/seetohjinwei/",
  //     },
  //     {
  //       name: "Advent of Code Solutions",
  //       icon: "github",
  //       link: "https://github.com/seetohjinwei/adventofcode",
  //     },
  //   ],
  // },
];
---

<section class="section-global section" id="projects">
  <div class="container-global">
    <h2>{showAll ? "Projects Archive" : "Projects"}</h2>

    {showAll && <p class="archive-paragraph"><a class="archive-anchor" href="/"><span class="house">🏠</span> Back to home</a></p>}

    {items.filter((item, index) => showAll || index < limit).map((item, index) => (
      <ProjectItem
        index={index}
        title={item.title}
        tagline={item.tagline}
        description={item.description}
        list={item.list}
        image={item.image}
        skills={item.skills}
        links={item.links}
      />
    ))}

    {!showAll && <p class="archive-paragraph"><a class="archive-anchor" href="/projects">View full project archive <span class="rocket">🚀</span></a></p>}

    {showAll && <p class="archive-paragraph"><a class="archive-anchor" href="/"><span class="house">🏠</span> Head back home</a></p>}
      </p>
    </div>
  </div>
</section>

<style>
  .archive-paragraph {
    margin-left: 0;
  }

  .archive-anchor .rocket {
    display: inline-block;
    transition: transform 0.6s ease-out;
  }

  .archive-anchor:hover .rocket, .archive-anchor:active .rocket {
    transform: translate(1rem, -1rem);
  }

  .archive-anchor .house {
    display: inline-block;
    transition: transform 0.6s ease-out;
  }

  .archive-anchor:hover .house, .archive-anchor:active .house {
    transform: translate(-1rem, 0);
  }

  /* for large screens */
  @media (min-width: 1000px) {
    .archive-paragraph {
      margin-left: 2rem;
    }
  }
</style>
