---
import Divider from "./Divider.astro";

// Icons from https://devicon.dev/
import cppIcon from "../images/icons/cpp.svg";
import cssIcon from "../images/icons/css.svg";
import dockerIcon from "../images/icons/docker.svg";
import gitIcon from "../images/icons/git.svg";
import goIcon from "../images/icons/go.svg";
import htmlIcon from "../images/icons/html.svg";
import javaIcon from "../images/icons/java.svg";
import luaIcon from "../images/icons/lua.svg";
import mongoIcon from "../images/icons/mongodb.svg";
import pythonIcon from "../images/icons/python.svg";
import rubyIcon from "../images/icons/ruby.svg";
import sqlIcon from "../images/icons/sql.svg";
import typescriptIcon from "../images/icons/typescript.svg";
---

<script>
  const reveal: string = "reveal";
  function showCard(id: string): void {
    const maybeCard = cardMap[id];
    if (maybeCard === undefined) {
      throw `Tried to show card ${id}, but it does not exist.`;
    }
    const card: HTMLDivElement = maybeCard as HTMLDivElement;
    card.classList.add(reveal);
    current = id;
  }

  function hideCard(id: string): void {
    const maybeCard = cardMap[id];
    if (maybeCard === undefined) {
      throw `Tried to hide card ${id}, but it does not exist.`;
    }
    const card: HTMLDivElement = maybeCard as HTMLDivElement;
    card.classList.remove(reveal);
    current = null;
  }

  function switchCard(id: string | null): void {
    const initialId = current;
    current !== null && hideCard(current);
    if (initialId === id) {
      return;
    }
    id !== null && showCard(id);
  }

  let current: string | null = null;

  const cards = document.querySelectorAll(".card");
  const items = document.querySelectorAll(".item");

  const cardMap: { [id: string]: Element } = {};
  const itemMap: { [id: string]: Element } = {};

  cards.forEach((card) => {
    const id = card.id;
    if (id === "") {
      console.error(card);
      throw "Card logged is missing id.";
    }
    cardMap[id] = card;
  });

  items.forEach((item) => {
    const id = item.id;
    if (id === "") {
      console.error(item);
      throw "Item logged is missing id.";
    }
    itemMap[id] = item;

    item.addEventListener("click", function () {
      switchCard(id);
    });
  });
</script>

<section class="section-global section" id="tech">
  <Divider colour="yellow" type="two" />
  <div class="container-global">
    <h2>Things I've used...</h2>
    <div class="space">
      <div id="ts" class="card">
        <div class="title">
          <img src={typescriptIcon} />
          <b>TypeScript & JavaScript</b>
        </div>
        <ul class="ul-global">
          <li>React</li>
          <li>Jest</li>
          <li>React Testing Library</li>
          <li>Next.js</li>
        </ul>
      </div>
      <div id="java" class="card">
        <div class="title">
          <img src={javaIcon} />
          <b>Java</b>
        </div>
        <ul class="ul-global">
          <li>Java Standard Edition</li>
          <li>JUnit</li>
          <li>
            A <em>bit</em> of JavaFX
          </li>
        </ul>
      </div>
      <div id="go" class="card">
        <div class="title">
          <img src={goIcon} />
          <b>Golang</b>
        </div>
        <ul class="ul-global">
          <li>Gin Web Framework</li>
          <li>Gorilla Web Socket Framework</li>
          <li>Go Testing Library</li>
        </ul>
      </div>
      <div id="sql" class="card">
        <div class="title">
          <img src={sqlIcon} />
          <b>SQL</b>
        </div>
        <ul class="ul-global">
          <li>PostgreSQL</li>
          <li>Relational Database</li>
        </ul>
      </div>
      <div id="mongo" class="card">
        <div class="title">
          <img src={mongoIcon} />
          <b>MongoDB</b>
        </div>
        <ul class="ul-global">
          <li>NoSQL</li>
        </ul>
      </div>
      <div id="css" class="card">
        <div class="title">
          <img src={cssIcon} />
          <b>CSS</b>
        </div>
        <ul class="ul-global">
          <li>Styled Components</li>
          <li>SCSS</li>
          <li>Tailwind</li>
          <li>... and regular CSS</li>
        </ul>
      </div>
      <div id="git" class="card">
        <div class="title">
          <img src={gitIcon} />
          <b>Git & GitHub</b>
        </div>
        <ul class="ul-global">
          <li>Git commands</li>
          <li>General GitHub usage</li>
          <li>GitHub Actions</li>
        </ul>
      </div>
      <div id="python" class="card">
        <div class="title">
          <img src={pythonIcon} />
          <b>Python</b>
        </div>
        <ul class="ul-global">
          <li>Scripting</li>
          <li>Coding questions</li>
        </ul>
      </div>
      <div id="html" class="card">
        <div class="title">
          <img src={htmlIcon} />
          <b>HTML</b>
        </div>
        <ul class="ul-global">
          <li>Responsive Web Design</li>
          <li>Astro</li>
        </ul>
      </div>
      <div id="docker" class="card">
        <div class="title">
          <img src={dockerIcon} />
          <b>Docker</b>
        </div>
        <ul class="ul-global">
          <li>Basic Dockerfiles</li>
        </ul>
      </div>
      <div id="cpp" class="card">
        <div class="title">
          <img src={cppIcon} />
          <b>C & C++</b>
        </div>
        <ul class="ul-global">
          <li>Using for miscellaneous stuff</li>
          <li>Coding questions</li>
          <li>Computer Organisation, and some bonus Assembly</li>
        </ul>
      </div>
      <div id="ruby" class="card">
        <div class="title">
          <img src={rubyIcon} />
          <b>Ruby</b>
        </div>
        <ul class="ul-global">
          <li>Ruby on Rails</li>
        </ul>
      </div>
      <div id="lua" class="card">
        <div class="title">
          <img src={luaIcon} />
          <b>Lua</b>
        </div>
        <ul class="ul-global">
          <li>
            Lua LÖVE Framework - <em>2D Game Engine</em>
          </li>
          <li>Light scripting</li>
        </ul>
      </div>
      <div id="other" class="card">
        <div class="title">
          <b>Others</b>
        </div>
        <ul class="ul-global">
          <li>Software Engineering</li>
          <li>RESTful APIs</li>
          <li>Data Structures & Algorithms</li>
        </ul>
      </div>
      <div class="items">
        <div id="ts" class="item">TypeScript</div>
        <div id="java" class="item">Java</div>
        <div id="go" class="item">Golang</div>
        <div id="sql" class="item">SQL</div>
        <div id="mongo" class="item">MongoDB</div>
        <div id="css" class="item">CSS</div>
        <div id="git" class="item">Git & GitHub</div>
        <div id="python" class="item">Python</div>
        <div id="html" class="item">HTML</div>
        <div id="docker" class="item">Docker</div>
        <div id="cpp" class="item">C & C++</div>
        <div id="ruby" class="item">Ruby</div>
        <div id="lua" class="item">Lua</div>
        <div id="other" class="item">Others</div>
      </div>
    </div>
    <em class="hint">click on the buttons to learn more!</em>
  </div>
</section>

<style>
  .section {
    background: var(--color-green-background);
  }

  .hint {
    color: var(--color-faded);
  }

  .space {
    display: flex;
    column-gap: 50px;
    margin-bottom: 1em;
  }

  .items {
    width: 70%;
    margin: 1em auto 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px 20px;
  }

  .item {
    /* backdrop-filter isn't supported by some smaller browsers (they will just see the same background colour as the section) */
    backdrop-filter: brightness(1.3);
    -webkit-backdrop-filter: brightness(1.3);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .item:hover,
  .item:active {
    backdrop-filter: brightness(1.5);
    -webkit-backdrop-filter: brightness(1.5);
  }

  /* TODO: transition the buttons to the right? */

  .card {
    backdrop-filter: brightness(1.3);
    -webkit-backdrop-filter: brightness(1.3);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 275px;
    position: absolute;
    opacity: 0;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    z-index: -1;
  }

  .reveal {
    position: static;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    -webkit-user-select: text; /* Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* IE10+/Edge */
    user-select: text; /* Standard */
    z-index: 100;
  }

  img {
    margin-bottom: 1ch;
    margin-right: 1ch;
    width: 50px;
  }

  div.title {
    display: flex;
    align-items: center;
  }

  @media (max-width: 800px) {
    .space {
      flex-direction: column;
      width: 100%;
    }

    .card {
      width: 90%;
      margin: 0 auto;
    }

    .items {
      width: 100%;
    }
  }
</style>
